absl-py
aiohappyeyeballs
aiohttp
aiosignal
attrs
certifi
charset-normalizer
contourpy
cycler
datasets
dill
filelock
fonttools
frozenlist
fsspec
grpcio
hf-xet
huggingface-hub
idna
iniconfig
Jinja2
kiwisolver
Markdown
MarkupSafe
matplotlib
mpmath
multidict
multiprocess
networkx
numpy
packaging
pandas
pillow
pluggy
propcache
protobuf
pyarrow
Pygments
pyparsing
pytest
python-dateutil
pytz
PyYAML
requests
six
sympy
tensorboard
tensorboard-data-server
tokenizers
torch
tqdm
typing_extensions
tzdata
urllib3
Werkzeug
xxhash
yarl
